<div class="frontpage">
   <div class="frontpage_auth">

      <div class="frontpage_auth-left">
         <div class="frontpage_logo">
            <a href="/"><img src="/images/your-cause-rect.png" alt="Your Cause Logo"></a>
         </div>

         <h1>Welcome back!</h1>

         <form action="/auth/login" method="POST">

            <label for="username">username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">password</label>
            <input type="password" id="password" name="password" required>
            {{#if errorMessage}}
            <div class="auth_error">❌ {{errorMessage}}</div>
            {{/if}}
            <div class='auth_btn-row'>
               <button class="auth_btn" type="submit">Submit</button>
               <a class="auth_other-route" href="/auth/signup">No account? Sign up instead</a>
            </div>
         </form>


      </div>

      <div class="frontpage_auth-right">
         <div class='frontpage_auth-right_copy'>
            The all-in-one toolkit for activism. Getting informed, and getting involved, all in one place.
         </div>
         <div class='frontpage_auth-right_color-block a'></div>
         <div class='frontpage_auth-right_color-block b'></div>
         <div class='frontpage_auth-right_color-block c'></div>
         <div class='frontpage_auth-right_color-block d'></div>
      </div>
   </div>
</div>