{{!-- UPDATE PASSWORD PAGE --}}

{{> mainNav active='settings' }}

<div class="wrapper">

  <div class="header">
    <div class="header-left">
      <button class="burger"><i class="fas fa-bars"></i></button>
      <h1>Update password</h1>
    </div>
  </div>

  <h2 class='header_settings'> Update password </h2>

  <div class='settings_c'>
    <div class='nav-button'>
      <a class="button-purple" href="/settings">Back to settings</a>
    </div>

    <div class="update-data">
      <form action="/settings/update-password" method="POST">

        <label for="">Old Password</label>
        <input type="password" name="oldPassword">

        <label for="">New Password</label>
        <input type="password" name="newPassword">

        <label for="">Confirm Password</label>
        <input type="password" name="confirmPassword">

        <button class='button-purple-change-password' type="submit">Update your password</button>
      </form>
    </div>

    {{#if errorMessage}}
    <p class='warning'>{{errorMessage}}</p>
    {{/if}}

    {{#if message}}
    <p class= 'yes'>{{message}}</p>
    {{/if}}
  </div>

</div>